{% extends 'layout/main.html' %}
  
{% block content %}

    {# section resume #}
    {% include 'components/resume.html' %}

    <hr class="m-0">

    {# section experience #}
    {% include 'components/experience.html' %}

    <hr class="m-0">

    {# section education #}
    {% include 'components/education.html' %}

    <hr class="m-0">

    {# section skills #}
    {% include 'components/skills.html' %}

    <hr class="m-0">

    {# section interests #}
    {% include 'components/interests.html' %}
    
{% endblock %}