{# included for main #}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Educação</h2>

      {% for article in articles_page.object_list %}
        {% if article.type == 'educacao' %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{ article.title }}</h3>
            <div class="subheading mb-3">{{ article.corp }}</div>
            <div>{{ article.body }}</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ article.duration }}</span>
          </div>
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </section>