{# included for main #}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Limguagens de programação &amp; Ferramentas</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item">
          <i class="fab fa-html5" title="HTML 5"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-css3-alt" title="CSS 3"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-js-square" title="Javascript"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-react" title="Reactjs"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-node-js" title="Node"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-npm" title="NPM"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-python" title="Python"></i>
        </li>
        <li class="list-inline-item">
          <i class="icon-docker" title="Docker"></i>
        </li>
        <li class="list-inline-item">
          <i class="fab fa-linux" title="Linux"></i>
        </li>
        <li class="list-inline-item">
          <i class="icon-postgres" title="PostgreSQL"></i>
        </li>
        <li class="list-inline-item">
          <i class="icon-mysql" title="MySQL"></i>
        </li>
        <li class="list-inline-item">
          <i class="icon-jquery" title="JQuery"></i>
        </li>
        <li class="list-inline-item">
          <i class="icon-adonis" title="Adonisjs">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58px" height="51.7px" viewBox="0 0 36 33">
              <g transform="translate(0 .5)" fill="none" fill-rule="evenodd">
                <path d="M20 2.236L5.618 31h28.764L20 2.236z" stroke="#868e96" stroke-width="2"/>
                <path fill="#868e96" d="M12 2l12 24H0"/>
              </g>
            </svg>
          </i>
        </li>
      </ul>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Design Patterns e reusabilidade de código</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          MVC Design Pattern</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agilidade no deploy de aplicações</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Desenvolvimento Ágil &amp; Scrum</li>
      </ul>
    </div>
  </section>
{% block js %}
<script>

  iconAdonis = document.querySelector('g');
  iconAdonis.addEventListener("mouseover", () => {

    iconAdonis.children[0].setAttribute('stroke', '#ef5350');
    iconAdonis.children[1].setAttribute('fill', '#ef5350');
  });
  iconAdonis.addEventListener("mouseout", () => {

    iconAdonis.children[0].setAttribute('stroke', '#868e96');
    iconAdonis.children[1].setAttribute('fill', '#868e96');
  });
</script>
{% endblock %}